/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/space-mono-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/space-mono-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$text-presets: (
    "1": (
        weight: 700,
        size: 48px,
        line-height: 71px,
        letter-spacing: -1px,
    ),
    "2": (
        weight: 700,
        size: 32px,
        line-height: 47px,
        letter-spacing: -0.67px,
    ),
    "3": (
        weight: 700,
        size: 24px,
        line-height: 36px,
        letter-spacing: 0px,
    ),
    "4": (
        weight: 700,
        size: 20px,
        line-height: 30px,
        letter-spacing: 0px,
    ),
    "5": (
        weight: 700,
        size: 16px,
        line-height: 24px,
        letter-spacing: 0px,
    ),
    "6": (
        weight: 700,
        size: 13px,
        line-height: 19px,
        letter-spacing: 0px,
    ),
);

@mixin apply-text-preset($name) {
    $preset: map.get($text-presets, $name);
    @if $preset {
        font-size: map.get($preset, size);
        font-weight: map.get($preset, weight);
        line-height: map.get($preset, line-height);
        letter-spacing: map.get($preset, letter-spacing);
    }
}