:root {
    // colors
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-600: #3d6666; 
    --color-grey-550: #547878; 
    --color-grey-500: #5e7a7d; 
    --color-grey-400: #7f9d9f; 
    --color-grey-300: #9ebbbd; 
    --color-grey-200: #c5e4e7; 
    --color-grey-50:  #f3f9fa; 
    --color-green-900:  #00474b; 
    --color-green-800:  #085c61; 
    --color-green-750:  #0d686d; 
    --color-green-400:  #26c2ae; 
    --color-green-200:  #9fe8df; 
    --color-orange-400:  #e17052; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}